.App {
  text-align: center;
  
}

.App-logo {
  pointer-events: none;
}
h1{
  font-size: 2rem;
}

.App-header {
  background-color: rgb(97, 218, 251);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(97, 218, 251);
}

/* NAVBAR */
.navbar {
  background: transparent; /* Remove solid background */
  background-image: none;  /* Remove image */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute; /* Optional: overlay on top of hero image */
  top: 0;
  width: 100%;
  z-index: 10; /* Keeps navbar above background image */
}


.App-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color:rgb(0, 0, 0)
}
